@model Vidracaria.Models.Produto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estaAtivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estaAtivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoVenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoVenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expessura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expessura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anotacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anotacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdadeEstoque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdadeEstoque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagemPequena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagemPequena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagemMedia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagemMedia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagemGrande)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagemGrande)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extra1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extra1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extra2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extra2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extra3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extra3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extra4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extra4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extra5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extra5)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
