<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/kendo")
    <link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo/kendo.office365.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo/kendo.office365.mobile.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/kendo")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               @Html.ActionLink("JHVidraçaria", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index", "Admin")">Admin</a></li>
                    <li><a href="@Url.Action("Index", "Descontoes")">Descontos</a></li>
                    <li><a href="@Url.Action("Index", "Categorias")">Categorias</a></li>
                    <li><a href="@Url.Action("Index", "Tipoes")">Tipos</a></li>
                    <li><a href="@Url.Action("Index", "Produtoes")">Produtos</a></li>
                    <li><a href="@Url.Action("Index", "FormaPagamentoes")">FormaPagamentos</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript" src="~/Scripts/app.js"></script>
    @RenderSection("scripts", required: false)

    <!--Menu-->
    <script>
    // very simple to use!
    $(document).ready(function() {
      $('.js-activated').dropdownHover().dropdown();
    });
    </script>
        
</body>
</html>