@model Vidracaria.Models.FormaPagamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FormaPagamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desconto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desconto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acrescimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acrescimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extra1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extra1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extra2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extra2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extra3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extra3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
